HorasExtrasWeb/Web References/HorasExtras.Wsl/Seguridad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.loteria.com.ec/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.loteria.com.ec/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.loteria.com.ec/">
      <s:element name="ValidarCredenciales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomEmp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCredencialesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarCredencialesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomEmp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCredencialesNEW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dominio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCredencialesNEWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarCredencialesNEWResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuProcesar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UArea" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UDep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UCargo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuProcesarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MenuProcesarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatosBiometricoPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatosBiometricoPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarDatosBiometricoPorUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatosEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarDatosEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarDatosEmpleadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarRegisto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infoXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarRegistoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GrabarRegistoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarRegistro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infoXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarRegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarRegistroResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTotales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infoXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTotalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarTotalesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarFeriados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="localidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarFeriadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarFeriadosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarAprobaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarAprobacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarAprobacionesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarJustificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarJustificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarJustificacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarAprobacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarAprobacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GrabarAprobacionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarImprimir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarImprimirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarImprimirResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarProcesar">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarProcesarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarProcesarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalesProcesar">
        <s:complexType />
      </s:element>
      <s:element name="TotalesProcesarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TotalesProcesarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuAprobar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuAprobarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MenuAprobarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarAtrasos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarAtrasosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarAtrasosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarAtrasos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infoXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarAtrasosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GrabarAtrasosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarCredencialesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCredenciales" />
  </wsdl:message>
  <wsdl:message name="ValidarCredencialesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarCredencialesResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarCredencialesNEWSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCredencialesNEW" />
  </wsdl:message>
  <wsdl:message name="ValidarCredencialesNEWSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarCredencialesNEWResponse" />
  </wsdl:message>
  <wsdl:message name="MenuProcesarSoapIn">
    <wsdl:part name="parameters" element="tns:MenuProcesar" />
  </wsdl:message>
  <wsdl:message name="MenuProcesarSoapOut">
    <wsdl:part name="parameters" element="tns:MenuProcesarResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosBiometricoPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarDatosBiometricoPorUsuario" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosBiometricoPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarDatosBiometricoPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarDatosEmpleado" />
  </wsdl:message>
  <wsdl:message name="RecuperarDatosEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarDatosEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarRegistoSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarRegisto" />
  </wsdl:message>
  <wsdl:message name="GrabarRegistoSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarRegistoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarRegistroSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarRegistro" />
  </wsdl:message>
  <wsdl:message name="EliminarRegistroSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarTotalesSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarTotales" />
  </wsdl:message>
  <wsdl:message name="ActualizarTotalesSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarTotalesResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarFeriadosSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarFeriados" />
  </wsdl:message>
  <wsdl:message name="ValidarFeriadosSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarFeriadosResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarAprobacionesSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarAprobaciones" />
  </wsdl:message>
  <wsdl:message name="RecuperarAprobacionesSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarAprobacionesResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarJustificacionSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarJustificacion" />
  </wsdl:message>
  <wsdl:message name="ValidarJustificacionSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarJustificacionResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarAprobacionSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarAprobacion" />
  </wsdl:message>
  <wsdl:message name="GrabarAprobacionSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarAprobacionResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarImprimirSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarImprimir" />
  </wsdl:message>
  <wsdl:message name="RecuperarImprimirSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarImprimirResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarProcesarSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarProcesar" />
  </wsdl:message>
  <wsdl:message name="RecuperarProcesarSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarProcesarResponse" />
  </wsdl:message>
  <wsdl:message name="TotalesProcesarSoapIn">
    <wsdl:part name="parameters" element="tns:TotalesProcesar" />
  </wsdl:message>
  <wsdl:message name="TotalesProcesarSoapOut">
    <wsdl:part name="parameters" element="tns:TotalesProcesarResponse" />
  </wsdl:message>
  <wsdl:message name="MenuAprobarSoapIn">
    <wsdl:part name="parameters" element="tns:MenuAprobar" />
  </wsdl:message>
  <wsdl:message name="MenuAprobarSoapOut">
    <wsdl:part name="parameters" element="tns:MenuAprobarResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarAtrasosSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarAtrasos" />
  </wsdl:message>
  <wsdl:message name="RecuperarAtrasosSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarAtrasosResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarAtrasosSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarAtrasos" />
  </wsdl:message>
  <wsdl:message name="GrabarAtrasosSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarAtrasosResponse" />
  </wsdl:message>
  <wsdl:portType name="SeguridadSoap">
    <wsdl:operation name="ValidarCredenciales">
      <wsdl:input message="tns:ValidarCredencialesSoapIn" />
      <wsdl:output message="tns:ValidarCredencialesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCredencialesNEW">
      <wsdl:input message="tns:ValidarCredencialesNEWSoapIn" />
      <wsdl:output message="tns:ValidarCredencialesNEWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MenuProcesar">
      <wsdl:input message="tns:MenuProcesarSoapIn" />
      <wsdl:output message="tns:MenuProcesarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosBiometricoPorUsuario">
      <wsdl:input message="tns:RecuperarDatosBiometricoPorUsuarioSoapIn" />
      <wsdl:output message="tns:RecuperarDatosBiometricoPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosEmpleado">
      <wsdl:input message="tns:RecuperarDatosEmpleadoSoapIn" />
      <wsdl:output message="tns:RecuperarDatosEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabarRegisto">
      <wsdl:input message="tns:GrabarRegistoSoapIn" />
      <wsdl:output message="tns:GrabarRegistoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <wsdl:input message="tns:EliminarRegistroSoapIn" />
      <wsdl:output message="tns:EliminarRegistroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTotales">
      <wsdl:input message="tns:ActualizarTotalesSoapIn" />
      <wsdl:output message="tns:ActualizarTotalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarFeriados">
      <wsdl:input message="tns:ValidarFeriadosSoapIn" />
      <wsdl:output message="tns:ValidarFeriadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarAprobaciones">
      <wsdl:input message="tns:RecuperarAprobacionesSoapIn" />
      <wsdl:output message="tns:RecuperarAprobacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarJustificacion">
      <wsdl:input message="tns:ValidarJustificacionSoapIn" />
      <wsdl:output message="tns:ValidarJustificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabarAprobacion">
      <wsdl:input message="tns:GrabarAprobacionSoapIn" />
      <wsdl:output message="tns:GrabarAprobacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarImprimir">
      <wsdl:input message="tns:RecuperarImprimirSoapIn" />
      <wsdl:output message="tns:RecuperarImprimirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarProcesar">
      <wsdl:input message="tns:RecuperarProcesarSoapIn" />
      <wsdl:output message="tns:RecuperarProcesarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TotalesProcesar">
      <wsdl:input message="tns:TotalesProcesarSoapIn" />
      <wsdl:output message="tns:TotalesProcesarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MenuAprobar">
      <wsdl:input message="tns:MenuAprobarSoapIn" />
      <wsdl:output message="tns:MenuAprobarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarAtrasos">
      <wsdl:input message="tns:RecuperarAtrasosSoapIn" />
      <wsdl:output message="tns:RecuperarAtrasosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabarAtrasos">
      <wsdl:input message="tns:GrabarAtrasosSoapIn" />
      <wsdl:output message="tns:GrabarAtrasosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeguridadSoap" type="tns:SeguridadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCredenciales">
      <soap:operation soapAction="http://www.loteria.com.ec/ValidarCredenciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCredencialesNEW">
      <soap:operation soapAction="http://www.loteria.com.ec/ValidarCredencialesNEW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuProcesar">
      <soap:operation soapAction="http://www.loteria.com.ec/MenuProcesar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosBiometricoPorUsuario">
      <soap:operation soapAction="http://www.loteria.com.ec/RecuperarDatosBiometricoPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosEmpleado">
      <soap:operation soapAction="http://www.loteria.com.ec/RecuperarDatosEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarRegisto">
      <soap:operation soapAction="http://www.loteria.com.ec/GrabarRegisto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <soap:operation soapAction="http://www.loteria.com.ec/EliminarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTotales">
      <soap:operation soapAction="http://www.loteria.com.ec/ActualizarTotales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarFeriados">
      <soap:operation soapAction="http://www.loteria.com.ec/ValidarFeriados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarAprobaciones">
      <soap:operation soapAction="http://www.loteria.com.ec/RecuperarAprobaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarJustificacion">
      <soap:operation soapAction="http://www.loteria.com.ec/ValidarJustificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarAprobacion">
      <soap:operation soapAction="http://www.loteria.com.ec/GrabarAprobacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarImprimir">
      <soap:operation soapAction="http://www.loteria.com.ec/RecuperarImprimir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarProcesar">
      <soap:operation soapAction="http://www.loteria.com.ec/RecuperarProcesar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalesProcesar">
      <soap:operation soapAction="http://www.loteria.com.ec/TotalesProcesar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuAprobar">
      <soap:operation soapAction="http://www.loteria.com.ec/MenuAprobar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarAtrasos">
      <soap:operation soapAction="http://www.loteria.com.ec/RecuperarAtrasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarAtrasos">
      <soap:operation soapAction="http://www.loteria.com.ec/GrabarAtrasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadSoap12" type="tns:SeguridadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCredenciales">
      <soap12:operation soapAction="http://www.loteria.com.ec/ValidarCredenciales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCredencialesNEW">
      <soap12:operation soapAction="http://www.loteria.com.ec/ValidarCredencialesNEW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuProcesar">
      <soap12:operation soapAction="http://www.loteria.com.ec/MenuProcesar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosBiometricoPorUsuario">
      <soap12:operation soapAction="http://www.loteria.com.ec/RecuperarDatosBiometricoPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDatosEmpleado">
      <soap12:operation soapAction="http://www.loteria.com.ec/RecuperarDatosEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarRegisto">
      <soap12:operation soapAction="http://www.loteria.com.ec/GrabarRegisto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistro">
      <soap12:operation soapAction="http://www.loteria.com.ec/EliminarRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTotales">
      <soap12:operation soapAction="http://www.loteria.com.ec/ActualizarTotales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarFeriados">
      <soap12:operation soapAction="http://www.loteria.com.ec/ValidarFeriados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarAprobaciones">
      <soap12:operation soapAction="http://www.loteria.com.ec/RecuperarAprobaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarJustificacion">
      <soap12:operation soapAction="http://www.loteria.com.ec/ValidarJustificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarAprobacion">
      <soap12:operation soapAction="http://www.loteria.com.ec/GrabarAprobacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarImprimir">
      <soap12:operation soapAction="http://www.loteria.com.ec/RecuperarImprimir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarProcesar">
      <soap12:operation soapAction="http://www.loteria.com.ec/RecuperarProcesar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalesProcesar">
      <soap12:operation soapAction="http://www.loteria.com.ec/TotalesProcesar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuAprobar">
      <soap12:operation soapAction="http://www.loteria.com.ec/MenuAprobar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarAtrasos">
      <soap12:operation soapAction="http://www.loteria.com.ec/RecuperarAtrasos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarAtrasos">
      <soap12:operation soapAction="http://www.loteria.com.ec/GrabarAtrasos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad">
    <wsdl:port name="SeguridadSoap" binding="tns:SeguridadSoap">
      <soap:address location="http://localhost:8070/Seguridad.asmx" />
    </wsdl:port>
    <wsdl:port name="SeguridadSoap12" binding="tns:SeguridadSoap12">
      <soap12:address location="http://localhost:8070/Seguridad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>