HorasExtrasWeb/Web References/HorasExtras.Wsl/Seguridad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.loteria.com.ec/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.loteria.com.ec/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.loteria.com.ec/">
      <s:element name="ValidarCredenciales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomEmp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCredencialesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarCredencialesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomEmp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuProcesar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UArea" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UDep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UCargo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MenuProcesarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MenuProcesarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarCredencialesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCredenciales" />
  </wsdl:message>
  <wsdl:message name="ValidarCredencialesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarCredencialesResponse" />
  </wsdl:message>
  <wsdl:message name="MenuProcesarSoapIn">
    <wsdl:part name="parameters" element="tns:MenuProcesar" />
  </wsdl:message>
  <wsdl:message name="MenuProcesarSoapOut">
    <wsdl:part name="parameters" element="tns:MenuProcesarResponse" />
  </wsdl:message>
  <wsdl:portType name="SeguridadSoap">
    <wsdl:operation name="ValidarCredenciales">
      <wsdl:input message="tns:ValidarCredencialesSoapIn" />
      <wsdl:output message="tns:ValidarCredencialesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MenuProcesar">
      <wsdl:input message="tns:MenuProcesarSoapIn" />
      <wsdl:output message="tns:MenuProcesarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeguridadSoap" type="tns:SeguridadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCredenciales">
      <soap:operation soapAction="http://www.loteria.com.ec/ValidarCredenciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuProcesar">
      <soap:operation soapAction="http://www.loteria.com.ec/MenuProcesar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeguridadSoap12" type="tns:SeguridadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCredenciales">
      <soap12:operation soapAction="http://www.loteria.com.ec/ValidarCredenciales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuProcesar">
      <soap12:operation soapAction="http://www.loteria.com.ec/MenuProcesar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad">
    <wsdl:port name="SeguridadSoap" binding="tns:SeguridadSoap">
      <soap:address location="http://localhost:55269/Seguridad.asmx" />
    </wsdl:port>
    <wsdl:port name="SeguridadSoap12" binding="tns:SeguridadSoap12">
      <soap12:address location="http://localhost:55269/Seguridad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>